.Link-Button {
  height: 2rem;
  background-color: rgb(19, 122, 190);
  padding: .8rem .6rem .4rem .6rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  box-sizing: content-box;
}

.Link-Button:hover {
  background-color: rgb(6, 79, 128);
}