.Cadastro-Novo-Ativo Label {
  display: block;
  margin-bottom: .2rem;
  font-size: 1.1rem;
}

.Cadastro-Novo-Ativo .field {
  min-width: 300px;
  display: block;
  margin-bottom: 1.2rem;
  padding: .5rem .4rem;
  font-size: 1rem;
}

.Cadastro-Novo-Ativo .descricao {
  height: 200px;
  width: 50%;
}