.App-header {
  height: 70px;
  min-width: 980px;
  background: #0b6392;
  border-bottom: 1px solid #052c41;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.header-container {
  height: 100%;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-container h1 {
  font-size: 3em;
  margin-left: 0.2em;
}

.logo {
  height: 50px;
}

.link {
  color: white;
}