.Tab {
  min-height: 80vh;
  width: 100%;
  padding: 1.5em;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.19);
  box-shadow: 0 0 1px rgba(0,0,0,.1);
  box-sizing: border-box;
}