.Template {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.Template main {
  min-height: calc(100vh - 70px);
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.Template h2 {
  margin: 2rem 0;
  font-size: 2rem;
}

.Template .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}