.Module {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  width: 200px;
  margin: 0 1rem;
  color: black;
}

.Module-icon {
  height: 120px;
  width: 180px;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,.19);
  box-shadow: 0 0 1px rgba(0,0,0,.1);
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Module-icon:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 11px -6px rgba(0,0,0,0.75);
}

.Module h3 {
  font-weight: lighter;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.2rem;
}

.icon {
  height: 90px;  
}